:root {
  --thumbnails-img-width: 20vw;
  --thumbnails-img-height: calc(var(--thumbnails-img-width) * 0.79);
  --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.3);
}
main.hidden {
  --thumbnails-img-width: 20vw;
  --thumbnails-img-height: calc(var(--thumbnails-img-width) * 0.79);
  --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.3);
}
.hidden .thumbnails-title {
  font-size: 1.5em;
}
.hidden .thumbnails-list {
  margin-top: 16px;
  max-height: 90vh;
}
body {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  margin: 0;
}
header {
  text-align: center;
  background-color: antiquewhite;
}
.logo {
  font-size: 1.6em;
  margin-top: 1vh;
  margin-bottom: 1vh;
  text-transform: uppercase;
  letter-spacing: 1.2em;
  margin-left: 1.2em;
  font-family: lakeshor;
}
main {
  display: flex;
  flex-direction: column;
}
.details-section {
  margin-top: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 3s;
}
.details-image {
  width: 65vw;
  height: 52vw;
  border-radius: 20%;
}
.details-container {
  position: relative;
}
.details-title {
  background-color: beige;
  font-style: italic;
  font-size: 2em;
  position: absolute;
  left: -6vw;
  bottom: 2vh;
  font-family: airstream;
}
.thumbnails-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-height: 60vh;
  overflow-y: auto;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 6vh;
}
.thumnails-ancor {
  text-decoration: none;
}
.thumbnails-item {
  border: solid 1px blue;
  border-radius: 25%;
  max-width: var(--thumbnails-img-width);
  min-width: var(--thumbnails-img-width);
  min-height: calc(
    var(--thumbnails-img-height) + var(--thumbnails-title-height)
  );
  margin-top: 3vh;
  overflow: hidden;
}
.thumbnails-item:hover {
  border-color: green;
  transform: scale(1.1);
}
.thumnails-image {
  width: var(--thumbnails-img-width);
  height: var(--thumbnails-img-height);
  display: block;
}
.thumbnails-title {
  display: block;
  text-align: center;
  background-color: burlywood;
  height: var(--thumbnails-title-height);
}

.hidden .details-section {
  display: none;
}
.hidden {
}
.is-point {
  transform: scale(0.001);
  transition: 0s;
}

.hide-button {
  font-size: 0.8em;
  position: absolute;
  top: 4vh;
  right: 5vw;
  background-color: transparent;
}
@media (min-width: 650px) {
  :root {
    --thumbnails-img-width: 12vw;
    --thumbnails-img-height: calc(var(--thumbnails-img-width) * 0.7);
    --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.2);
  }
  main.hidden {
    --thumbnails-img-width: 12vw;
  }
  .hidden .thumbnails-title {
    font-size: 1.2em;
  }

  .thumbnails-list {
    flex-wrap: nowrap;
    max-height: 80vh;
    flex-direction: column;
    justify-content: start;
    margin-left: 5vw;
  }
  .hidden .thumbnails-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  main {
    flex-direction: row-reverse;
    justify-content: start;
  }
  .details-image {
    width: 50vw;
    height: 40vw;
    border-radius: 20%;
  }
  .details-section {
    margin: auto;
  }
  body {
    overflow: hidden;
  }
  .details-title {
    font-size: 2em;
  }
}
@media (min-width: 1000px) {
  .details-image {
    width: 45vw;
    height: 37vw;
    border-radius: 20%;
  }
  main.hidden {
    --thumbnails-img-width: 11vw;
  }
  html {
    font-size: 2rem;
  }
  .hidden .thumbnails-title {
    font-size: 0.9em;
  }
  .thumbnails-title {
    font-size: 0.8em;
  }
  .hidden .thumbnails-list {
    max-height: 90vh;
    margin-top: 10vh;
  }
  .hidden .thumbnails-item:hover {
    margin-top: auto;
    margin-bottom: auto;
  }
}
